/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    line-height: 1 !important;
    background-color:#fff !important;
}

.navbar {
    justify-content: space-evenly !important;
}

.navbar-brand {
    width: 200px !important;
    justify-content: space-evenly !important;
}

.dropdown-menu {
    margin-top: 10px;
    line-height: 1 !important;
}

.app-header .dropdown-item {
    min-width: 250px !important;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #f3f3f3;
    text-decoration: none;
    background-color: #00446d;
}


.client-logo {
    height: 30px !important;
    width: auto !important;
}

.sidebar {
    background: #00446d !important;
    line-height: 1.5 !important;
}
    .sidebar .nav-title {
        background: #013a5d !important;
    }

    .main .container-fluid {
        padding: 10px 10px;
        max-width: 1152px !important;
        margin: 0 !important;
    }

.main .row {
    margin: 0 !important;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding: 0 !important;
}

.nav-item img, .img-icon {
    width: auto;
    height: 15px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.padding-xs {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.padding-sm {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.padding-md {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.padding-lg {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.padding-xl {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.padding-xxl {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.padding-xxxl {
    padding-left: 30px !important;
    padding-right: 30px !important;
}


.padding-left-xs {
    padding-left: 3px !important;
}

.padding-left-sm {
    padding-left: 5px !important;
}

.padding-left-md {
    padding-left: 10px !important;
}

.padding-left-lg {
    padding-left: 15px !important;
}

.padding-left-xl {
    padding-left: 20px !important;
}

.padding-left-xxl {
    padding-left: 25px !important;
}

.padding-left-xxxl {
    padding-left: 30px !important;
}

.padding-right-xs {
    padding-right: 3px !important;
}

.padding-right-sm {
    padding-right: 5px !important;
}

.padding-right-md {
    padding-right: 10px !important;
}

.padding-right-lg {
    padding-right: 15px !important;
}

.padding-right-xl {
    padding-right: 20px !important;
}

.padding-right-xxl {
    padding-right: 25px !important;
}

.padding-right-xxxl {
    padding-right: 30px !important;
}
