/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    line-height: 1 !important;
    background-color: #fff !important;
}

/*#region header-menu */

.navbar {
    justify-content: space-evenly !important;
}

.navbar-brand {
    width: 200px !important;
    justify-content: space-evenly !important;
}

.nav-item img, .img-icon {
    width: auto;
    height: 15px;
}

.app-header .dropdown-menu {
    margin-top: 10px;
    line-height: 1 !important;
}

.app-header .dropdown-item {
    min-width: 250px !important;
}

    .app-header .dropdown-item:hover, .app-header .dropdown-item:focus {
        color: #f3f3f3;
        text-decoration: none;
        background-color: #00446d;
    }


.client-logo {
    height: 30px !important;
    width: auto !important;
}

.sidebar {
    background: #00446d !important;
    line-height: 1.5 !important;
}

    .sidebar .nav-title {
        background: #013a5d !important;
    }
/*#endregion header-menu */

/*#region container*/
.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

/*#endregion container*/

/*#region rows-columns*/
.row {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 8px !important;
    margin-left: 0 !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding: 10px !important;
}

/*#endregion rows-columns*/

/*#region customized-paddings*/

.no-padding {
    padding: 0 !important;
}

.padding-xs {
    padding: 3px !important;
}

.padding-sm {
    padding: 5px !important;
}

.padding-md {
    padding: 10px !important;
}

.padding-lg {
    padding: 15px !important;
}

.padding-xl {
    padding: 20px !important;
}

.padding-xxl {
    padding: 25px !important;
}

.padding-xxxl {
    padding: 30px !important;
}


.padding-left-xs {
    padding-left: 3px !important;
}

.padding-left-sm {
    padding-left: 5px !important;
}

.padding-left-md {
    padding-left: 10px !important;
}

.padding-left-lg {
    padding-left: 15px !important;
}

.padding-left-xl {
    padding-left: 20px !important;
}

.padding-left-xxl {
    padding-left: 25px !important;
}

.padding-left-xxxl {
    padding-left: 30px !important;
}

.padding-right-xs {
    padding-right: 3px !important;
}

.padding-right-sm {
    padding-right: 5px !important;
}

.padding-right-md {
    padding-right: 10px !important;
}

.padding-right-lg {
    padding-right: 15px !important;
}

.padding-right-xl {
    padding-right: 20px !important;
}

.padding-right-xxl {
    padding-right: 25px !important;
}

.padding-right-xxxl {
    padding-right: 30px !important;
}


.padding-bottom-xs {
    padding-bottom: 3px !important;
}

.padding-bottom-sm {
    padding-bottom: 5px !important;
}

.padding-bottom-md {
    padding-bottom: 10px !important;
}

.padding-bottom-lg {
    padding-bottom: 15px !important;
}

.padding-bottom-xl {
    padding-bottom: 20px !important;
}

.padding-bottom-xxl {
    padding-bottom: 25px !important;
}

.padding-bottom-xxxl {
    padding-bottom: 30px !important;
}

.padding-top-xs {
    padding-top: 3px !important;
}

.padding-top-sm {
    padding-top: 5px !important;
}

.padding-top-md {
    padding-top: 10px !important;
}

.padding-top-lg {
    padding-top: 15px !important;
}

.padding-top-xl {
    padding-top: 20px !important;
}

.padding-top-xxl {
    padding-top: 25px !important;
}

.padding-top-xxxl {
    padding-top: 30px !important;
}

/*#endregion customized-paddings*/

/*#region customized-margins */

.no-margin {
    margin: 0 !important;
}

.margin-xs {
    margin: 3px !important;
}

.margin-sm {
    margin: 5px !important;
}

.margin-md {
    margin: 10px !important;
}

.margin-lg {
    margin: 15px !important;
}

.margin-xl {
    margin: 20px !important;
}

.margin-xxl {
    margin: 25px !important;
}

.margin-xxxl {
    margin: 30px !important;
}


.margin-left-xs {
    margin-left: 3px !important;
}

.margin-left-sm {
    margin-left: 5px !important;
}

.margin-left-md {
    margin-left: 10px !important;
}

.margin-left-lg {
    margin-left: 15px !important;
}

.margin-left-xl {
    margin-left: 20px !important;
}

.margin-left-xxl {
    margin-left: 25px !important;
}

.margin-left-xxxl {
    margin-left: 30px !important;
}

.margin-right-xs {
    margin-right: 3px !important;
}

.margin-right-sm {
    margin-right: 5px !important;
}

.margin-right-md {
    margin-right: 10px !important;
}

.margin-right-lg {
    margin-right: 15px !important;
}

.margin-right-xl {
    margin-right: 20px !important;
}

.margin-right-xxl {
    margin-right: 25px !important;
}

.margin-right-xxxl {
    margin-right: 30px !important;
}


.margin-bottom-xs {
    margin-bottom: 3px !important;
}

.margin-bottom-sm {
    margin-bottom: 5px !important;
}

.margin-bottom-md {
    margin-bottom: 10px !important;
}

.margin-bottom-lg {
    margin-bottom: 15px !important;
}

.margin-bottom-xl {
    margin-bottom: 20px !important;
}

.margin-bottom-xxl {
    margin-bottom: 25px !important;
}

.margin-bottom-xxxl {
    margin-bottom: 30px !important;
}

.margin-top-xs {
    margin-top: 3px !important;
}

.margin-top-sm {
    margin-top: 5px !important;
}

.margin-top-md {
    margin-top: 10px !important;
}

.margin-top-lg {
    margin-top: 15px !important;
}

.margin-top-xl {
    margin-top: 20px !important;
}

.margin-top-xxl {
    margin-top: 25px !important;
}

.margin-top-xxxl {
    margin-top: 30px !important;
}
/*#endregion customized-margins */


.btn, .btn-sm, .btn-md, .btn-lg {
line-height:1 !important;
}


/*#region footer*/
.app-footer {
font-size: .75rem;

}
.app-footer img{
    height:16px;
    width:auto;
}
/*#endregion footer*/


/* =============================   ================================= */
.content-header {
    background: #e6e6e6;
}

.content-title {
    text-transform: uppercase;
    font-weight:600;
    font-size:.85rem;
    color:#00446d;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.content-body {
    /*max-width: 1152px !important;
    border: 1px solid #b0b0b0*/
    margin: 0 10px;
}

.vertical-divider {
color: #b0b0b0;
}
/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0 !important;
    line-height: 1 !important;
}*/



.driver-container {
    display: inline-flex;
    overflow: auto
}
.driver-block {
    /*overflow: auto;*/
    display: block;
    height: 150px;
    min-width: 420px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    margin: 5px 10px 20px 0px;
    padding: 4px;
}
.driver-header {
    background-color: #00446d;
    margin-bottom: 5px;
    color:#fff
}


.driver-block-icon {
    border-radius: 0 !important;
    border: none;
    padding: 3px 8px;
    border-right: 1px solid #eee;
}
.btn-pickup .btn-passon .btn-deliver {
    color: #20a8d8 !important;
}

.allocated-order-header {
    background-color: #d1dbe1 !important;
    font-size: .65rem;
}
.allocated-order-body {
    font-size: .6rem;
    padding: 3px 8px;
    overflow: auto;
}


.hide-block {
    position: absolute;
    top: -9999px;
    left: -9999px;
}





