@{
    ViewData["Title"] = "Home Page";
}

<!-- Driver block-->
<div class="driver-block hide-block">
    <div class="driver-header">
        <div class="row">
            <div class="col-8 padding-sm">
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input chk-select-driver" data-driverid="" name="driver-group" onchange="toggleDriverCheckbox()">
                    <label class="form-check-label drivername"><strong>Name</strong></label>
                </div>
            </div>
            <div class="col-4 no-padding text-right ">
                <div class="btn-group btn-group-sm margin-top-xs margin-right-xs" role="group" aria-label="order-action">
                    <button class="btn-sm btn-primary btn-unique driver-block-icon btn-pickup" title="Pick up" data-toggle="modal">
                        <i class="fa fa-arrow-circle-up"></i>
                    </button>
                    <button class="btn-sm btn-warning driver-block-icon btn-passon" title="Pass on" data-toggle="modal">
                        <i class="fa fa-arrow-circle-right"></i>
                    </button>
                    <button class="btn-sm btn-success driver-block-icon btn-deliver" title="Deliver" data-toggle="modal">
                        <i class="fa fa-check-circle"></i>
                    </button>
                    <button type="button" class="btn-sm btn-danger driver-block-icon btn-remove-driver margin-left-lg" data-driverid="" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="allocated-order-header">
        <div class="row">
            <div class="col-2 padding-left-xl padding-right-sm">
                W/B#
            </div>
            <div class="col-1 padding-left-sm padding-right-sm">
                SVC
            </div>
            <div class="col-1 padding-left-sm padding-right-sm">
                UNIT
            </div>
            <div class="col-3 padding-left-sm padding-right-sm">
                SHIPPER
            </div>
            <div class="col-3 padding-left-sm padding-right-sm">
                CONSIGNEE
            </div>
            <div class="col-1 padding-left-sm padding-right-sm">
                TYPE
            </div>
            <div class="col-1 padding-left-sm padding-right-sm">
                STAT.
            </div>
        </div>
    </div>
    <div class="allocated-order-body">
        <div class="row">
            <div class="col-2 col-2 padding-left-sm padding-right-sm padding-top-none padding-bottom-none">
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="rdoWaybillNo" id="chkWayBillNumber" data-orderid="" data-waybillnumber="" />
                    <a class="btnEdit" href="#" data-waybillnumber='' data-toggle="modal" style="cursor:pointer"><label class="form-check-label" style="cursor:pointer">307905</label></a>
                </div>
            </div>
            <div class="col-1 padding-left-sm padding-right-sm padding-top-none padding-bottom-none">
                SMD
            </div>
            <div class="col-1 padding-left-sm padding-right-sm padding-top-none padding-bottom-none" style="word-wrap:initial">
                2Pc; 2SKD
            </div>
            <div class="col-3 padding-left-sm padding-right-sm padding-top-none padding-bottom-none">
                Test alksjf  laskdj...
            </div>
            <div class="col-3 padding-left-sm padding-right-sm padding-top-none padding-bottom-none">
                Test cust...
            </div>
            <div class="col-1 padding-left-sm padding-right-sm padding-top-none padding-bottom-none">
                S
            </div>
            <div class="col-1 padding-left-sm padding-right-sm padding-top-none padding-bottom-none">
                RFB
            </div>

        </div>
    </div>
    
    

</div>


<!-- Driver block-->


<div class="row content-header">
    <div class="col-9">
        <div class="content-title">Dispatch board</div>
    </div>
    <div class="col-3 text-right">
        <div class="btn-group" role="group">
            <button class="btn btn-sm btn-primary"><i class="fa fa-plus-circle"></i> New order </button>
            <button class="btn btn-sm" disabled> <i class="fa fa-ellipsis-v"></i> </button>
            <button class="btn btn-sm btn-secondary" id="btn-add-driver"><i class="fa fa-user-o"></i> Add driver </button>
        </div>
        @*<div class="row no-margin">
            <div class="col-2 text-right no-padding">
                <button class="btn btn-sm btn-primary"><i class="fa fa-plus-circle"></i> New order </button>
            </div>
            <div class="col-1 text-center no-padding">
                <span class="vertical-divider ">|</span>
            </div>
            <div class="col-2 text-left no-padding">
                <button class="btn btn-sm btn-secondary" id="btn-add-driver"><i class="fa fa-user-o"></i> Add driver </button>
            </div>
        </div>*@
    </div>
    
</div>

<div class="content-body">
    <div class="row">
        <div class="driver-container">

        </div>
    </div>
</div>




