@{
    ViewData["Title"] = "Home Page";
}

<div class="row content-header">
    <div class="col-8">
        <div class="content-title">Dispatch board</div>
    </div>
    <div class="col-4 text-right">
        <button class="btn btn-sm btn-primary"><i class="fa fa-plus-circle"></i>  New order</button>
    </div>
</div>

<div class="content-body">
    <div class="row" style="background-color:#ffd800">
        <div class="col-12" style="background-color:#00ff21">
            asdf
        </div>
    </div>
</div>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
